.gallery {
  grid-column: full-start / full-end;

  display: grid;
  grid-template-columns: repeat(22, 1fr);
  grid-template-rows: repeat(8, 4.5vw);
  grid-gap: 1.5rem;
  padding-top: 7rem;
  padding-bottom: 2rem;

  &__item {
    padding: 0;
    margin: 0;
    &--1 {
      grid-row: 1 / span 8;
      grid-column: 2 / span 7;
    }
    &--2 {
      grid-row: 1 / span 4;
      grid-column: 9 / span 6;
    }
    &--3 {
      grid-row: 5 / span 5;
      grid-column: 9 / span 6;
    }
    &--4 {
      grid-row: 1 / span 8;
      grid-column: 15 / span 8;
      padding-right: 10rem;
      margin-top: 1rem;
      margin-bottom: -3rem;

      @media screen and (max-width: $bp-medium) {
        padding-right: 1rem;
      }
    }
  }

  &__img {
    height: 100%;
    width: 100%;
    //object-fit: cover;
    display: block;
  }
}
