.header {
  background-color: $color-secondary;
  grid-column: full-start / col-end 3;
  display: grid;
  grid-template-columns: minmax(min-content, max-content);
  align-content: center;
  justify-content: center;

  @media only screen and (max-width: $bp-large) {
    grid-column: 1 / -1;
  }

  &__title {
    text-align: left;
    color: $color-primary-dark;

    &--main {
      font-size: 11rem;
      line-height: 87px;
      font-weight: 500;
      text-transform: lowercase;
      padding: 0;
      margin: 0;

      @media screen and (max-width: $bp-small) {
        font-size: 9rem;
      }
    }

    &--list {
      list-style: none;
      display: flex;
      padding-top: 3rem;
    }
    &--icon {
      font-size: 8rem;
      padding-right: 2rem;
      margin-left: -3rem;
    }
    &--sub {
      font-size: 1.7rem;
      padding: 0;
      margin: 0;
      padding-top: 2.5rem;
    }
  }
}
