.introPicture {
  background-image: url("../img/Component4.png");
  background-size: cover;
  background-repeat: no-repeat;
  grid-column: col-start 4 / full-end;
  display: grid;
  grid-template-columns: minmax(min-content, max-content);
  align-content: center;

  @media only screen and (max-width: $bp-large) {
    //grid-column: 1 / -1;
    //justify-content: center;
    display: none;
  }
}
