.journal {
  background-color: $color-primary-dark;
  padding: 10rem 17rem;
  //grid-column: center-start / center-end;
  grid-column: full-start / full-end;

  display: grid;
  // grid-template-columns: repeat(3, 1fr);
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-template-rows: auto auto;

  &__content {
    color: $color-white;
    margin-left: 5rem;

    &--title {
      font-size: 2rem;
      font-weight: 600;
    }

    &--paragraph {
      font-size: 1.6rem;
      font-weight: 400;
    }
    &--1 {
      grid-row: 1 / 2;
      grid-column: 1 / 2;
      margin-right: 10rem;
    }

    &--2 {
      grid-row: 1 / 2;
      grid-column: 2 / 3;
      margin-right: 10rem;
    }

    &--3 {
      grid-row: 1 / 2;
      grid-column: 3 / 4;
      padding-right: 9rem;
    }

    &--4 {
      grid-row: 2 / -1;
      grid-column: 1 / 2;
      margin-right: 10rem;
    }

    &--5 {
      grid-row: 2 / -1;
      grid-column: 2 / 3;
      margin-right: 10rem;
    }

    &--6 {
      grid-row: 2 / -1;
      grid-column: 3 / 4;
      padding-right: 9rem;
    }

    @media screen and (max-width: $bp-large) {
      grid-gap: 1rem;
      &--1,
      &--2,
      &--3,
      &--4 {
        grid-column: auto;
        grid-row: auto;
      }
    }
  }
}
