.powertrain {
  background-color: $color-primary-dark;
  grid-column: col-start 6 / full-end;
  display: grid;
  grid-template-columns: minmax(min-content, max-content);
  align-content: center;
  &--engine {
    list-style: none;
    color: #fff;
    font-size: 2rem;
    font-weight: 400;
    line-height: 2.3;
  }

  @media only screen and (max-width: $bp-medium) {
    grid-column: 1 / -1;
    justify-content: center;
  }
}
