.sidebar {
  background-color: $color-primary;
  grid-column: sidebar-start / sidebar-end;
  grid-row: 1 / -1;
  position: relative;

  display: flex;
  justify-content: center;

  :hover {
    cursor: pointer;
  }

  @media only screen and (max-width: $bp-large) {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    justify-content: flex-end;
    align-items: center;
  }
}

.nav-btn {
  border: none;
  border-radius: 0;
  background-color: $color-secondary;
  margin-top: 7rem;
  height: 3.5px;
  width: 12.5rem;
  margin-top: 4rem;

  &::before,
  &::after {
    background-color: $color-secondary;
    width: 12.5rem;
    margin-top: 7rem;
    height: 3.5px;
    content: "";
    display: block;
  }

  &::before {
    transform: translateY(-4.2rem);
  }
  &::after {
    transform: translateY(-8.7rem);
  }

  @media only screen and (max-width: $bp-large) {
    margin-top: 0;
    margin-right: 4rem;
    height: 2px;
    width: 4.5rem;

    &::before,
    &::after {
      background-color: $color-secondary;
      height: 1.5px;
      width: 4.5rem;
      content: "";
      display: block;
    }

    &::before {
      transform: translateY(-5.8rem);
    }
    &::after {
      transform: translateY(-15.5rem);
    }
  }
}
