.heading-primary {
  // @extend %heading;
  font-weight: 600;
  text-align: center;
  color: $color-white;

  &--dark {
    color: $color-primary-dark;
  }
  &--main {
    font-size: 11.5rem;
    font-weight: 400;
    text-transform: capitalize;
    margin-top: 16rem;
    margin-bottom: -3rem;
  }
  &--sub {
    font-size: 1.8rem;
    padding: 0;
    margin: 0;
  }
}

.heading-1 {
  font-size: 2rem;
  font-weight: 601;
}
